# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test

/public
.DS_Store

# Resources are "deliberately placed in the project, as it is recommended to check these into source control as part of the project."
# See: https://gohugo.io/content-management/image-processing/#image-processing-performance-consideration
# resources/

# GIMP files
*.xcf
